.jumbotron {
	color: #000008;
	font-family: Garamond;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 70px;
}

table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }