.jumbotron {
	color: #0000FF;
	font-family: Garamond;
	background-image: url("/Images/malebellybutton.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 70px;

}